{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/styles/home.css">
    <link rel="stylesheet" href="/static/styles/hamburger.css">
{% endblock %}

{% block title %}CashFlow | Home{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: transparent; padding: 0px;">
        <div class="container-fluid" style="padding: 0px;">

            <a class="navbar-brand text-light" href="#">
                <img src="/static/images/Money Bag.png" alt="" width="40" height="50" class="d-inline-block align-text-center">
                CashFlow
            </a>

            <div class="navbar-toggler" type="button" id="navbar-light" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

                <input id="checkbox" type="checkbox">
                <label class="toggle" for="checkbox">
                    <div id="bar1" class="bars"></div>
                    <div id="bar2" class="bars"></div>
                    <div id="bar3" class="bars"></div>
                </label>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" id="pageLinks">
                    <a class="nav-link text-light" href="#mainSection">Home</a>
                    <a class="nav-link text-light" href="#featureSection">Features</a>
                    <a class="nav-link text-light" href="#aboutDev">About Dev</a>
                </div>
                <div class="navbar-nav" id="actionLinks">
                    <a class="nav-link text-light" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-link text-light" href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="mt-5" id="mainSection">
        <div class="row" id="mainRow">
            <!-- Main text on the left -->
            <div class="col-md-6 col-sm-6" id="main-text">
                <h1 id="heading" class="text-light">CashFlow Financial Management System</h1>
                <p class="text-light">CashFlow is a comprehensive personal financial tracking system designed to empower individuals to manage their finances effectively and gain better control over their spending habits.</p>

                <a href="{{ url_for('register') }}" class="swipe">Get Started 
                    <span class="containerBTN">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                        </svg>
                    </span>
                </a>

            </div>
            <!-- Illustration image on the right -->
            <div class="col-md-5 col-sm-6" id="illustration">
                <img src="/static/images/Paying Bills.png" alt="Illustration" class="img-fluid w-100">
                <div class="dark-overlay"></div>
            </div>
        </div>
        <div id="illustration2">
            <img src="/static/images/Financial Portfolio.png" alt="" class="img-fluid w-100">
        </div>

        <hr id="hr" class="mt-5 mb-5">

        <div id="featureSection" class="mt-5">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front card1">
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Goal Creation</p>
                        <p>Set and monitor your financial goals with precision.
                            Whether it's saving for a dream vacation, paying off debt, or building an emergency fund, our app helps you stay on track.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front card2">
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Budget Creation</p>
                        <p>
                            Create customized budgets to fit your unique financial circumstances.
                            Set spending limits for different categories and receive alerts when you approach your budget thresholds.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front card3">
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Expense Analysis</p>
                        <p>Gain valuable insights with our expense analysis tools.
                            Visualize spending patterns, identify areas for savings, and make informed financial decisions.
                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front card4">
                    </div>
                    <div class="flip-card-back">
                        <p class="title">Financial Statements</p>
                        <p>
                        Get a clear view of your financial health with detailed breakdowns of your assets, liabilities, income, and expenses.
                        </p>
                    </div>
                </div>
            </div>  
        
        </div>
        
        <!--Feature section for mobile -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="z-index: 3;">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="flip-card d-block w-100">
                    <div class="flip-card-inner">
                        <div class="flip-card-front card1">
                        </div>
                        <div class="flip-card-back">
                            <p class="title">Goal Creation</p>
                            <p>Set and monitor your financial goals with precision.
                                Whether it's saving for a dream vacation, paying off debt, or building an emergency fund, our app helps you stay on track.
                            </p>
                        </div>
                    </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="flip-card d-block w-100">
                    <div class="flip-card-inner">
                        <div class="flip-card-front card2">
                        </div>
                        <div class="flip-card-back">
                            <p class="title">Budget Creation</p>
                            <p>
                                Create customized budgets to fit your unique financial circumstances.
                                Set spending limits for different categories and receive alerts when you approach your budget thresholds.
                            </p>
                        </div>
                    </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="flip-card d-block w-100">
                    <div class="flip-card-inner">
                        <div class="flip-card-front card3">
                        </div>
                        <div class="flip-card-back">
                            <p class="title">Expense Analysis</p>
                            <p>Gain valuable insights with our expense analysis tools.
                                Visualize spending patterns, identify areas for savings, and make informed financial decisions.
                            </p>
                        </div>
                    </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="flip-card d-block w-100">
                    <div class="flip-card-inner">
                        <div class="flip-card-front card4 ">
                        </div>
                        <div class="flip-card-back">
                            <p class="title">Financial Statements</p>
                            <p>
                            Get a clear view of your financial health with detailed breakdowns of your assets, liabilities, income, and expenses.
                            </p>
                        </div>
                    </div>
                </div> 
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section id="aboutDev" class="mt-5">
            <!--<div id="devIllustration" style="background-color: rgba(44, 50, 92, 0.4);">
                <div class="welcome mb-3">
                    Welcome to CashFlow. Get started and take control of your finances like never before. Your financial goals are within reach with CashFlow by your side.
                </div>
                <a href="{{ url_for('register') }}" class="swipe">Get Started 
                    <span class="containerBTN">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                        </svg>
                    </span>
                </a>
            </div>-->
            <div id="devText">
                <div class="card" id="card">
                    <div class="card-photo"></div>
                    <div class="card-title">Irvine Sunday <br>
                        <span>Fullstack Dev</span>
                    </div>
                    <div class="card-socials">
                        <a href="https://www.instagram.com/the_a.n.o.m.a.l.y/" class="card-socials-btn instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://irvine-sunday-portfolio.vercel.app/" class="card-socials-btn website">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                        <a href="https://github.com/sundayirvine-code" class="card-socials-btn github">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/irvine-amugumbi-49ba6b201/" class="card-socials-btn linkedin">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://twitter.com/codematic" class="card-socials-btn twitter">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </section>
    </section>
    <script src="/static/script/home.js"></script>
{% endblock %}
