<!--templates/income.html-->
{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/styles/income.css">  
{% endblock %}

{% block title %}CashFlow | Income{% endblock %}

{% block content %}
<div id="title_date_box">
    <h2 id="IncomePageTitle">Income Management</h2>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <p id="CurrentDate" style="margin: 0 10px 0 0;"></p>
        <a href="{{ url_for('dashboard') }}" style="color: white;">
            <i class="bi bi-box-arrow-left"></i>
        </a>
    </div>
</div>

<div id="categories_summary_box">
    <div id="categories">
        <div id="categoriesHeader">
            <p id="categoriesTitle">Categories</p>
            <i class="bi bi-plus-lg" id="openCategoryForm"></i>
        </div>
        <div id="categoryCards">
            {% for category, (formatted_amount, percentage) in income_totals.items() %}
            <div class="catCard" data-categoryname="{{ category }}">
                <div style="font-size: 16px; font-weight: 400;">{{ category }}</div>
                <div style="color: #bfd220; font-weight: 600; font-size: 27px;">
                    {{ formatted_amount }}
                </div>
                <div style="font-size: 12px;">
                    {{ percentage }}%
                </div>
                <div style="max-width: 150px; width: 150px; height: 4px; background-color: white; padding-bottom: 3px;">
                    <div style="background-color: #bfd220; height: 4px; width: {{ percentage | replace('%', '') }}%;"></div>
                </div>
            </div>
            {% endfor %}        
        </div>
    </div>
    <div id="incomeSummary">
        <h2 id="incomeSummaryAmount" style="color: #bfd220; font-weight: 900; margin: 0;">{{total_income}}</h2>
        <div style="display: flex; font-size: 13px;">
            <i style="margin-right: 5px;">From:</i>
            <p id="fromincomeSummaryDateRange" style="margin: 0;">{{from_date}}</p>
        </div>
        <div style="display: flex; font-size: 13px;">
            <i style="margin-right: 5px;">To:</i>
            <p id="toincomeSummaryDateRange" style="margin: 0;">{{to_date}}</p>
        </div>
    </div>
</div>

<hr>

<div id="transactions">
    <div id="TransactionHeader">
        <div class="title">
            <p>Transactions</p>
            <i class="bi bi-plus-lg" id="openTransactionForm"></i>
        </div>
        <div class="date-range-picker mb-3" id="date-range-picker">
            <div class="from"> 
                <label for="dateRangePickerFrom">From:</label>
                <input type="date" id="dateRangePickerFrom" class="form-control">
            </div>
            <div class="to"> 
                <label for="dateRangePickerTo">To:</label>
                <input type="date" id="dateRangePickerTo" class="form-control">
            </div>
            <div style="align-self: flex-end;" id="btn">
                <button id="searchButton" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    <div id="transactionTable" >
        <table class="table table-responsive table-responsive-sm" id="table">
            <thead class="sticky-top" style="background-color: #485b9b; z-index: 500;">
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="transactionTableBody">
              <!-- Income transactions will be inserted here -->
              {% for income_transaction in income_transactions %}
                <tr data-row-id="{{ income_transaction['transaction_id'] }}">
                    <td>{{ "CFINC-{0:03d}".format(income_transaction['transaction_id']) }}</td> 
                    <td>{{ income_transaction['income_category_name'] }}</td>
                    <td>{{ income_transaction['description'] }}</td>
                    <td>{{ income_transaction['date'] }}</td>
                    <td class="income_amount_cell">{{ income_transaction['amount'] }}</td>
                    <td class="actions">
                        <!-- Edit and Delete buttons with appropriate data attributes -->
                        <i class="fas fa-edit edit-transaction"
                           data-transaction-id="{{ income_transaction['transaction_id'] }}"
                           data-description="{{ income_transaction['description'] }}"
                           data-amount="{{ income_transaction['amount'] }}"
                           data-date="{{ income_transaction['date'] }}"
                           data-categoryname="{{ income_transaction['income_category_name'] }}"
                           data-categoryId="{{ income_transaction['income_category_id'] }}"
                           aria-hidden="true"></i>
                        <i class="fas fa-trash-alt delete-transaction"
                           data-transaction-id="{{ income_transaction['transaction_id'] }}"
                           aria-hidden="true"></i> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

<!-- Delete confirmation modal -->
<div id="modal-delete" style="display: none;">
    <p>Are you sure you want to delete this transaction?</p>
    <button id="modal-content-delete" class="btn btn-danger col-md-3">Delete</button>
    <button id="modal-content-cancel" class="btn btn-primary col-md-3">Cancel</button>
</div>

<!-- Form to edit an Income transaction -->
<div id="modal-edit" style="display: none;">
    <div class="row g-3">              
        <div class="col-md-6">
            <label for="Editamount">Edit Amount</label>           
            <input class="form-control" id="Editamount" name="Editamount" placeholder="Enter Amount" required type="number" min="0">           
        </div>

        <div class="col-md-6">
            <label for="Editdate">Date</label>
            <input class="form-control" id="Editdate" name="Editdate" placeholder="Edit transaction Date" required type="date">                   
        </div>        
        <div class="col-md-6 ">      
            <label for="editIncomeCategory">Choose Category</label>          
            <select class="form-select" id="editIncomeCategory" name="editIncomeCategory">
                {% for ic in income_categories %} 
                <option value="{{ic.id}}">{{ic.name}}</option>
                {% endfor %}
            </select>          
        </div>
        <div class="col-md-6">
            <label for="Editdescription">Description (optional)</label>
            <textarea class="form-control" id="Editdescription" name="Editdescription" placeholder="Edit Description Here" maxlength="100"></textarea>               
        </div>
        <div style="display: flex; justify-content: space-evenly;">
            <button id="cancelEditTransaction" class="btn btn-danger col-md-3">Cancel</button>
            <button  id="submitEditTransactionForm" class="btn btn-primary col-md-3">Submit</button>
        </div>
    </div>
</div>

<div id="successMessage"></div>

<!-- Form to create an income transaction -->
<div id="transactionForm" style="display: none;">

    <div class="formheader">
        <h2>Create Income Transaction</h2>
        <i class="bi bi-x-lg" id="closeTransactionForm"></i>
    </div>

    <div id="transactionFormError"></div>

    <form class="row g-3" method="POST" action="{{ url_for('create_income_transaction') }}">
        {{ transaction_form.csrf_token }}
        
        <div class="col-md-6 ">      
            {{ transaction_form.incomeCategory.label }}   
            {{ transaction_form.incomeCategory(class="form-select") }}    
        </div>

        <div class="col-md-6">  
            {{ transaction_form.debtor.label }}       
            {{ transaction_form.debtor(class="form-select") }}                   
        </div>

        <div class="col-md-6">
            {{ transaction_form.amount.label }}           
            {{ transaction_form.amount(class="form-control", placeholder="Enter Amount", type="number", min="0") }}           
        </div>

        <div class="col-md-6">
            {{ transaction_form.date.label }}
            {{ transaction_form.date(class="form-control", placeholder="Select Date") }}                   
        </div>        

        <div class="col-md-12">
            {{ transaction_form.description.label }}
            {{ transaction_form.description(class="form-control", placeholder="Optional Description Here", maxlength="100") }}               
        </div>

        <button type="submit" id="submitTransactionForm" class="btn btn-primary col-md-3">Submit</button>
    </form>
</div>

<!-- Form to create an income category -->
<div id="categoryForm">

    <div class="formheader">
        <h4>Create Income Category</h4>
        <i class="bi bi-x-lg" id="closeCategoryForm"></i>
    </div>

    <form class="row g-3" method="POST" action="{{ url_for('income') }}">
        {{ category_form.csrf_token }}
        
        <div class="col-md-6">      
            {{ category_form.categoryName.label }}     
            {{ category_form.categoryName(class="form-control", placeholder="Enter category") }}                
            <div id="categoryFormError"></div>
        </div>

        <div class="col-md-6">  
            {{ category_form.incomeType.label }}          
            {{ category_form.incomeType(class="form-select") }}    
        </div>
        
        <button type="submit" id="submitCategoryForm" class="btn btn-primary col-md-3">Submit</button>
    </form>
</div>

<script>
    const currentDate = new Date();
    const startOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);

    // Format the dates in the desired format (e.g., 'March 04 2020')
    const formatDate = (date) => {
    const options = { year: 'numeric', month: 'short', day: '2-digit' };
    return date.toLocaleDateString('en-US', options);
    };
         
    const formattedStartDate = formatDate(startOfMonth);
    const formattedEndDate = formatDate(currentDate);
    document.getElementById('CurrentDate').textContent=formattedEndDate;
</script>
<script src="/static/script/income.js"></script>
<script src="/static/script/edit_delete_income.js"></script>
<script src="/static/script/searchIncome.js"></script>
{% endblock %}
