<!--templates/login.html-->
{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/styles/register.css">
{% endblock %}

{% block title %}CashFlow | Log In{% endblock %}

{% block content %}
<section class="forms">
    <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        
        <!-- Display success messages -->
        {% for message in get_flashed_messages(with_categories=true, category_filter=['success']) %}
            <div class="flash-messages success-messages mb-3">{{ message[1] }}</div>
        {% endfor %}
        
        <!-- Display error messages -->
        {% for message in get_flashed_messages(with_categories=true, category_filter=['danger']) %}
            <div class="flash-messages error-messages mb-3">{{ message[1] }}</div>
        {% endfor %}

        <p class="title">Hello Again! </p>
        <p class="message">Welcome back to CashFlow. you've been missed!</p>

        <div class="mb-3 form-floating ">
            {{ form.email }}
            <label for="{{ form.email.id }}">{{ form.email.label }}</label>
            {% if form.email.errors %}
            <ul class="error-messages">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        
        <div class="mb-3 form-floating ">
            {{ form.password }}
            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
        
            {% if form.password.errors %}
            <ul class="error-messages">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
        <div class="mb-3">
            {{ form.submit }}
        </div>
        
    </form>
    <small class="signin">Don't have an account? <a href="{{ url_for('register') }}">Register</a></small>
</section>
<img id="image" src="/static/images/login.png" alt="illustration" width="145" height="250">
{% endblock %}
