#body{
    background-color: #2c325c;
}

#pageLinks{
    margin: auto;
}


#heading{
    font-size: calc(2.5rem + 1.5vw);
}

#body .text-light{
    color: #ffffff !important;
}

#illustration2{
    width: 250px;
    position: absolute;
    right:4%;
    top: 10%;
    z-index: -1;
}

#mainRow{
    justify-content: space-around;
}

/* Styling the get started button */
.swipe {
    position: relative;
    background-color: #ffffff;
    width: 200px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    padding-left: 40px;
    cursor: pointer;
    transition: 0.35s ease;
    color: #222222;
  }
  
.swipe:hover {
    padding-left: 0;
    padding-right: 40px;
    color: #222222;
}

.containerBTN {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #465bca;
    border-radius: 50%;
    transition: 0.35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

.swipe:hover .containerBTN {
    left: calc(100% - 55px);
}

#hr{
    background-color: #ffffff;
}

/* Styling the cards */
#featureSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.flip-card {
    width: 250px;
    height: 250px;
    background-color: transparent;
    perspective: 1000px;
}
  
.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: #212644;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    -webkit-box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);                               
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.card1{
    background: url('/static/images/Achievement.png');
}

.card2{
    background: url('/static/images/Budget.png');
}

.card3{
    background: url('/static/images/Budget2.png');
}

.card4{
    background: url('/static/images/Bill.png');
}

.card1, .card2, .card3, .card4{
    background-repeat: no-repeat;
    background-size: contain;           
}
  
.flip-card-back {
    background: #2c325c;
    color: white;
    transform: rotateY(180deg);
    padding: 5px;
}

#carouselExampleIndicators{
    display: none;
}


#aboutDev{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 350px;
    color: #ffffff;
}

#devText{
    width: 350px;
    height: 350px;
}

#card {
    width: 100%;
    height: 100%;
    background: #212644;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    -webkit-box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.3);
  }
  
  .card-photo {
    background-image: url('/static/images/me2.jpg');
    transform: scale(0.5) translate(130px, 120px);
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
  
  .card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
  }
  
  .card-title span {
    font-size: 15px;
  }
  
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn i {
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  
  .card:hover > .card-socials {
    opacity: 1;
    height: 35px;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
  }
  
  .card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(160px, 150px);
  }

#devIllustration{
    background-image: url('/static/images/devcard.png');
    width: 350px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}



#devText p, #devText h1{
    margin-bottom: 3px;
}

.line2{
    background-color: #ffffff;
    height: 2px;
    width: 100%;
}

.line1{
    background-color: #ffffff;
    height: 4px;
    width: 100%;
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    #illustration2{
        width: 200px;
    }
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    #mainContainer{
        max-width: 95%;
        padding: 0px !important;
    }
    #illustration2{
        width: 170px;
        top: 13%;
    }
 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    #illustration{
        z-index: -1;
    }
    #illustration2{
        width: 150px;
        top: 13%;
        z-index: -2;
        }
 }

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    #mainSection{
        height: 300px;
    }

    #illustration2, #illustration, #featureSection{    
        display: none;
    }
    
    .flip-card {
        height: 320px;
    }

    .flip-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 320px;
    background: none;
    }

    .card1, .card2, .card3, .card4, .flip-card-back{
        height: 320px;
        background-size: contain;
        width: 320px;
    }                          

    #carouselExampleIndicators{
        display: block;
    }
    
}
